USE [Products]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12.02.2024 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 12.02.2024 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[producer_id] [int] NOT NULL,
	[producer_name] [nvarchar](60) NOT NULL,
	[producer_address] [nvarchar](255) NULL,
	[delivery_price] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Producer__EA7F30C83DC88A99] PRIMARY KEY CLUSTERED 
(
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12.02.2024 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[category] [nvarchar](80) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[discount] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[measurement] [nvarchar](10) NOT NULL,
	[producer] [nvarchar](60) NULL,
	[country] [nvarchar](50) NULL,
	[supplier] [nvarchar](60) NULL,
	[date_of_delivery] [date] NULL,
	[expire_date] [date] NULL,
	[producer_id] [int] NULL,
	[categories_id] [int] NULL,
	[region_id] [int] NULL,
 CONSTRAINT [PK__Products__3213E83FEF35FC29] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 12.02.2024 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[CountryId] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Фрукты')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Овощи')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Молочные изделия')
GO
INSERT [dbo].[Producer] ([producer_id], [producer_name], [producer_address], [delivery_price]) VALUES (1, N'Фермерский сад', N'Мухосранск, фигзнает 34/1', CAST(2.00 AS Decimal(10, 2)))
INSERT [dbo].[Producer] ([producer_id], [producer_name], [producer_address], [delivery_price]) VALUES (2, N'Агроферма', N'Одеса, корупционный отдел 52', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[Producer] ([producer_id], [producer_name], [producer_address], [delivery_price]) VALUES (3, N'Молочная долина', N'Луна, кратер 23', CAST(15.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Products] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date], [producer_id], [categories_id], [region_id]) VALUES (1, N'Яблоки', N'Фрукты', CAST(60.35 AS Decimal(10, 2)), CAST(6.10 AS Decimal(10, 2)), 300, N'кг', N'Фермерский сад', N'Украина', N'Фруктовый мир', CAST(N'2022-01-15' AS Date), CAST(N'2022-02-28' AS Date), 1, 1, NULL)
INSERT [dbo].[Products] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date], [producer_id], [categories_id], [region_id]) VALUES (2, N'Морковь', N'Овощи', CAST(19.15 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 50, N'кг', N'Агроферма', N'Молдова', N'Овощной рай', CAST(N'2022-01-16' AS Date), CAST(N'2022-03-15' AS Date), 2, 2, NULL)
INSERT [dbo].[Products] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date], [producer_id], [categories_id], [region_id]) VALUES (3, N'Молоко', N'Молочные изделия', CAST(47.87 AS Decimal(10, 2)), CAST(1.15 AS Decimal(10, 2)), 20, N'л', N'Молочная долина', N'Польша', N'Молокофф', CAST(N'2022-01-17' AS Date), CAST(N'2022-04-30' AS Date), 3, 3, NULL)
GO
INSERT [dbo].[Regions] ([Id], [Name], [CountryId]) VALUES (101, N'Namibe', 9)
INSERT [dbo].[Regions] ([Id], [Name], [CountryId]) VALUES (102, N'Cabinda', 9)
INSERT [dbo].[Regions] ([Id], [Name], [CountryId]) VALUES (103, N'Buenos Aires', 10)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producer__DE03C83829D45978]    Script Date: 12.02.2024 12:43:42 ******/
ALTER TABLE [dbo].[Producer] ADD  CONSTRAINT [UQ__Producer__DE03C83829D45978] UNIQUE NONCLUSTERED 
(
	[producer_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Regions]  WITH CHECK ADD  CONSTRAINT [FK_Regions_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Regions] CHECK CONSTRAINT [FK_Regions_Countries]
GO
ALTER TABLE [dbo].[Producer]  WITH CHECK ADD  CONSTRAINT [Check_DeliveryPrice] CHECK  (([delivery_price]>=(0)))
GO
ALTER TABLE [dbo].[Producer] CHECK CONSTRAINT [Check_DeliveryPrice]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK__Products__countr__38996AB5] CHECK  (([country]='Польша' OR [country]='Молдова' OR [country]='Украина'))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK__Products__countr__38996AB5]
GO
